.container1 {
    width: 100%;
}
.container90 {
    width: 90%;
}
.container80 {
    width: 80%;
}
.container70 {
    width: 70%;
}
.container60 {
    width: 60%;
}
.tbc90, .container90, .container80, .container70, .container60 {
    margin:  0 auto;
    position: relative;
}
.tbc90 {
    width: 90%;
}
.flex {
    display: flex;
}
.absolute {
    position: absolute;
}
.btn {
    position: relative;
    border: none;
    height: 50px;
    width: auto;
    padding: 0 15px;
    font-size: 20px;
    transition: 0.5s;
    background: transparent;
    cursor: pointer;
    color: black;
    margin: 5px;
    z-index: 40;
}
.cntc-btn {
    background: #5D5DFF;
    height: 50px;
    width: auto;
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.cntc {
    width: 100%;
    padding: 12px 55px;
    margin: 0;
    border-radius: 3px;
    color: white;
    font-size: 18px;
}
.cntc::before, .cntc::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.cntc::after {
    opacity: 1;
    transform: scaleX(0);
    transition: 0.4s;
    transform-origin: 0 50%;
    background: #4F4FFF;
    transition-delay: 0.3s;
    border-radius: 5px;
    overflow: hidden;
}
.cntc::before {
    opacity: 0.9;
    transform: scaleX(0);
    transition: 0.4s;
    transform-origin: 100% 50%;
    background: #63c5c5;
    border-radius: 5px;
}
.cntc:hover::after {
    transform: scaleX(1);
}
.cntc:hover::before {
    transform: scaleX(1);
}
.cntc:hover {
    transition: 0.3s;
}
.grad::before, .grad::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
}
.grad::after {
    opacity: 0;
    transition: 0.5s;
}
.grad:hover::after {
    opacity: 0.9;
}
.ltr::after {
    transform-origin: 0 0;
}
.rtl::after {
    transform-origin: 100% 0%;
}

.grad1::before, .grad2::before, .grad3::before {
    background: #5D5DFF;
}
.grad1::after , .grad2::after, .grad3::after {
    background: #4F4FFF;
}


@media (max-width: 800px) {
    .btn {
        height: 40px;
        width: auto;
        font-size: 16px;
    }

    .cntc-btn {
        height: 40px;
    }
}
.ttip-anim {
    animation: tooltip 1s ease 0s 1;
}
@keyframes tooltip {
    0% {
        opacity: 0;
        transform: scale(0) rotate(0deg);
    }
    70% {
        opacity: 0.7;
        transform: scale(0.7) rotate(-20deg);
    }
    90% {
        opacity: 0.9;
        transform: scale(0.9) rotate(10deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}