
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: black;
    background-position: center;
    background-size: cover;
}
.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 80px 8%;
    position: fixed;
    z-index: 999;
    transition: 0.1s;
}

.navigation .brand {
    color: white;
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 60px;
    transition: 0.5s;
}
.navigation .brand:hover {
    color: #4F4FFF;
}
.navigation .links
{
    display: flex;
}
.navigation .links .link {
    height: 60px;
    width: 176px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.links .link1 {
    color: white;
    border: 2px solid rgb(39, 39, 39);
    margin-right: 30px;
    position: relative;
    backface-visibility: hidden;
}
.links .link2 {
    background: transparent;
    color: black;
    transition: 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    position: relative;
}
.links .link2::before, .links .link2::after {
    content: "";
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background: white;
}
.links .link2::after {
    opacity: 0.9;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: 0.5s;
    background: #4F4FFF;
}
.links .link2:hover::after {
    transform: scaleX(1);
}
.links .link2:hover {
    color: white;
}
.blue {
    color: #4158D0;
    transition: 0.5s;
}
.links .link1::before {
   content: "";
   width: inherit;
   height: 58px;
   background: #4F4FFF;
   position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform-origin: 0% 50%;
    transform: translateX(-2px) scaleX(0);
    transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.links .link1:hover::before {
    transform: translateX(-2px) scaleX(1);
}
.links .link1:hover {
    border: 2px solid #4F4FFF;
}
.links .link1:hover > .blue {
    color: white;
}


.fd12 {
    height:100px;
}

.section1 {
    width: 80%;
    margin: 0 auto;
}
.first {
    width: 40%;
}
.first1 {
    position: sticky;
    top: 0;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.pic1 {
    width: 100%;
    aspect-ratio: 1.5;
    background: url('pic/pic1.png');
    background-position: center center;
    background-size: cover;
    transition: 0.1s;
    border-radius: 6px;
}
.first h1 {
    font-weight: 500;
    font-size: 4vw;
    line-height: 107%;
    letter-spacing: -1px;
    color: #FFFFFF;
}
.first p {
    font-size: 1.3vw;
    line-height: 182%;
    color: #FFFFFF;
    opacity: 0.72;
    padding-top: 40px;
}
.first2 {
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
div.dummy {
    height: 70vh;
}



.section2 {
    width: 50%;
}
.section2.sec1 {
    width: 50%;
    padding-top: 250px;
}
.section2.sec2 {
    position: sticky;
    margin: 0 auto;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.double-img {
    z-index: 30;
    position: relative;
    margin-left: 8%;
}
.section2 h2 {
    color: white;
    z-index: 40;
    width: 80%;
    font-size: 35px;
    line-height: 50px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 3.8vw;
    line-height: 121%;
    letter-spacing: -0.5px;
    opacity: 0.94;
}
.image1 {
    background: url('pic/pic2.png');
    width: 20vw;
    aspect-ratio: 0.68;
    transform: translateY(-120px);
    margin-bottom: 30px;
}
.image2 {
    background: url('pic/pic3.png');
    width: 18vw;
    aspect-ratio: 0.6;
    margin-left: 20px;
}
.image1, .image2 {
    background-size: cover;
    background-position: center center;
    z-index: 10;
    margin: 10px;
    filter: drop-shadow(10px 14px 74px #010101);
    border-radius: 8px;
}
.image-box {
    width: 45vw;
    aspect-ratio: 1.64;
    background: #141414;
    border-radius: 0 8px 8px 0;
}
.dummy2 {
    height: 120vh;
}



.fd33 {
    height: 200px;
}
.dummy3 {
    height: 120vh;
}
.section3 {
    width: 50%;
}
.section3.sec1 {
    position: sticky;
    margin: 0 auto;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section3.sec2 {
    padding-top: 350px;
}
.double-img2 {
    z-index: 30;
    position: relative;
    left: 50%;
    transform: translateX(-15%);
    margin-bottom: 30px;
}
.section3 h2 {
    color: white;
    z-index: 40;
    width: 55%;
    line-height: 50px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 3.5vw;
    line-height: 121%;
    letter-spacing: -0.5px;
    opacity: 0.94;
}
.image11 {
    background: url('pic/pic4.png');
    width: 20vw;
    aspect-ratio: 0.68;
    transform: translateY(-70px);
    background-position: center center;
}
.image12 {
    background: url('pic/pic5.png');
    width: 25vw;
    aspect-ratio: 0.856;
    margin-right: 20px;
    transform: translateY(-130px);
    background-position: center right;
}
.image11, .image12 {
    background-size: cover; 
    z-index: 10;
    margin: 10px;
    filter: drop-shadow(10px 14px 74px #010101);
    border-radius: 8px;
}
.image-box2 {
    right: 0;
    width: 50vw;
    aspect-ratio: 1.78;
    background: #141414;
    border-radius: 8px 0 0 8px;
}



.section4 {
    width: 100%;
    aspect-ratio: 1.93;
    background: url('pic/pic6.png');
    background-position: center center;
    background-size: cover;
    border-radius: 24px;
    position: relative;
    transition: 0.6s cubic-bezier(0.47, 0, 0.745, 0.715);
    transform: translateY(100px);
}
.tooltip {
    position: absolute;
    text-align: center;
    font-size: inherit;
    color: white;
    width: 30%;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2.6;
    background: url('pic/ttipR.png');
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    transform-origin: 40% 100%;
}
.tooltip div {
    width: 75%;
    font-size: 1.5vw;
    padding-bottom: 20px;
}
.item1 {
    top: -10%;
    left: 38%;
}
.item2 {
    background: url('pic/ttipL.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    transform-origin: 60% 100%;
    top: 40%;
    left: -5%;
}
.item3 {
    top: 34%;
    left: 70%;
}
.item4 {
    top: 70%;
    left: 38%;
}


#section5 {
    overflow: visible;
}
.section5 {
    width: 50%;
    position: relative;
    color: white;
}
.section5 .sec1 {
    position: relative;
}
.content {
    width: 60%;
    margin: 10px auto;
}
.content h1 {
    font-size: 30px;
    line-height: 40px;
    color: white;
}
.content p {
    padding-top: 30px;
    color: white;
    opacity: 0.72;
    font-size: 12px;
}
.sec2sec {
    position: relative;
    width: 90%;
    margin: 30px auto;
}
.sec5pic {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    margin: 100px auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}
#sec51 {
    transform: translateX(-100%);
    opacity: 0;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}
#sec52 {
    transform: translateX(100%);
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
}


.content button::before {
    border-radius: 5px;
}
.content button::after {
    border-radius: 5px;
}

.content2 button::before {
    border-radius: 5px;
}
.content2 button::after {
    border-radius: 5px;
}
.content2 {
    width: 80%;
    margin: 0px auto;
    color: white;
}
.content2 h1 {
    font-size: 40px;
    line-height: 40px;
}
.content2 p {
    padding-top: 30px;
    color: white;
    opacity: 0.72;
    font-size: 12px;
}
.content2 button {
    z-index: 90;
}


.section6 {
    aspect-ratio: 2.02;
    background: #141414;
    border-radius: 12px;
    position: relative;
    display: flex;
}
.sec61, .sec62 {
    width: 50%;
    z-index: 60;
}
.sec61 {
    display: flex;
    padding-left: 80px;
}
.sec62 {
    position: sticky;
    margin: 0 auto;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dummy6 {
    height: 150vh;
    width: 20px;
    border: 1px solid red;
}
.ss1 {
    background: url('pic/pic8.png');
}
.ss2 {
    background: url('pic/pic9.png');
}
.ss {
    width: 15vw;
    height: 32vw;
    margin:12px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 20px;
    border: 5px solid white;
}
.ss1 {
    left: 8%;
    top: -11%;
}
.ss2 {
    left: 30%;
    top: 3%;
}




.section7.sec1{
    width: 50%;
    position: sticky;
    margin: 0 auto;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section7.sec2 {
    width: 50%;
    padding-top: 200px;
}
.dummy7 {
    height: 100vh;
}
.content7 {
    width: 60%;
    margin: 0 auto;
    color: white;
}
.content7 h1 {
    font-size: 35px;
    line-height: 121%;
    color: white;
}
.content7 p {
    padding-top: 30px;
    color: white;
    opacity: 0.72;
    font-size: 12px;
}
.double-img7 {
    z-index: 50;
    position: relative;
    margin-right: 20%;
    margin-bottom: 30px;
}
.image-box7 {
    right: 0;
    width: 50vw;
    aspect-ratio: 1.78;
    background: #141414;
    border-radius: 8px 0 0 8px;
}
.image71 {
    background: url('pic/pic10.png');
    width: 18vw;
    height: 25.7vw;
    transform: translateY(100px);
    background-position: left center;
    margin-top: 50%;
}
.image72 {
    background: url('pic/pic11.png');
    width: 18vw;
    aspect-ratio: 0.445;
    margin-right: 20px;
    transform: translateY(-50px);
    background-position: center center;
}
.image71, .image72 {
    background-size: cover; 
    z-index: 10;
    margin: 12px;
    filter: drop-shadow(10px 14px 74px #010101);
    border-radius: 8px;
}


.section8 {
    flex-direction: column;
    align-items: center;
    color: white;
}
.section8 h2 {
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 30px;
}
.section8 h1 {
    font-size: 45px;
    padding: 40px;
    line-height: 121%;
}
.video {
    width: 100%;
    aspect-ratio: 2.23;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.main-video {
    width: 100%;
    aspect-ratio: 2.23;
    z-index: 999;
}
.ctrl {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: none;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: #FFFFFF;
    color: black;
    opacity: 0;
    transition: 0.5s;
}
.video:hover > .ctrl {
    opacity: 1;
}

.up {
    height: 45px;
    aspect-ratio: 1;
    background: white;
    border-radius: 30px;
    position: sticky;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 95%;
    bottom: 30px;
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    visibility: hidden;
}
.up i {
    font-size: 20px;
}
.up:hover {
    background: #4F4FFF;
    color: #FFFFFF;
}

#section2 {
    transition: 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}



.fd45 {
    height:150px;
}
.full-h {
    min-height: 100vh;
}
#section6 {
    width: 80%;
    overflow: visible;
}

.container80, .c-sm-90, .container80, .tbc90 {
    overflow-x: hidden;
}
#s4 {
    overflow: visible;
}

#modal {
    background: rgba(255, 255, 255, 0.555);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    opacity: 1;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-origin: 50% 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}
.modal { 
    width: 40%;
    min-width: 400px;
    height: auto;
    background: rgb(255, 255, 255);
    padding: 25px;
    position: relative;
}
.modal-title {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    line-height: 110%;
    letter-spacing: -0.5px;
    color: #000000;
    opacity: 0.94;
    margin: 25px 0 0 0;
}
.modal-form {
    padding: 10px;
}
.modal-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4%;
    right: 4%;
    cursor: pointer;
}

.form-input {
    width: 100%;
    margin: 10px 0;
}
.label {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    opacity: 0.72;
}
.input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.06);
    border: none;
    margin: 10px 0;
}
.form-btn {
    width: 100%;
    text-align: center;
    border: none;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    background: linear-gradient(to left, #5D5DFF, #5D5DFF, #5D5DFF);
    color: white;
    transition: 0.5s;
}
.form-btn:hover {
    background: linear-gradient(to left, #5D5DFF, #C850C0, #bd466e);
    letter-spacing: 5px;
}
.modal-sub {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.72;
    margin-bottom: 30px;
}
#modal.open {
    visibility: visible;
    opacity: 1;
}
/*MEDIA QUERIES*/


@media (max-width: 800px) and (min-width: 501px) {
    
    .navigation {
        width: 92%;
        margin: auto 4%;
        padding: 60px 20px;
    }
    .navigation .brand {
        font-size: 26px;
        line-height: 45px;
    }
    .navigation .links .link {
        height: 45px;
        width: 136px;
        font-size: 16px;
    }
    .links .link1 {
        margin-right: 10px;
    }
    .links .link1::before {
       height: 43px;
       border-radius: 0;
    }
    .section1 {
        position: relative;
        height: auto;
    }
    .section1 .part1 {
        transform: translateY(-60px);
    }
    .part1 h1 {
        font-size: 25px;
    }
    .part1 p {
        font-size: 14px;
    }
    .fd23 {
        visibility: hidden;
    }
    

    .double-img {
        margin-left: 5%;
    }
    .section2 h2 {
        width: 60%;
        font-size: 25px;
        line-height: 40px;
    }
    .image1 {
        width: 20vw;
        aspect-ratio: 0.68;
        transform: translateY(-80px);
        margin-bottom: 30px;
    }
    .section3 .sec1{
        width: 40%;
        border: 1px solid white;
    }
    .section3 .sec2 {
        width: 60%;
        border: 1px solid white;
    }
    .section3 h2 {
        width: 80%;
        font-size: 25px;
        line-height: 50px;
    }
    .double-img2 {
        margin-right: 0%;
        margin-bottom: 30px;
    }
    .full-h {
        min-height: 80vh;
    }

    #section3 {
        display: flex;
    }
    .section3 {
        width: 50%;
    }
    .sec1 h2 {
        width: 70%;
        font-size: 25px;
        line-height: 40px;
    }

    .section4 {
        border-radius: 12px;
    }
    .fd45 {
        height:150px;
    }

    .section5 {
        width: 50%;
        position: relative;
        color: white;
    }
    .content {
        width: 60%;
        margin: 10px auto;
    }
    .content h1 {
        font-size: 25px;
        line-height: 35px;
    }
    .content p {
        padding-top: 30px;
        font-size: 12px;
    }
    .sec5pic {
        border-radius: 8px;
     }


    #section6 {
        width: 90%;
    }
    .section6 {
        border-radius: 12px;
    }
    .sec61 {
        padding-left: 25px;
    }
    .ss {
        width: 20vw;
        border: 3px solid white;
        border-radius: 10px;
    }
    

    .section7 {
        width: 50%;
    }
    .content7 {
        padding-top: 0px;
        width: 80%;
        margin: 0 auto;
    }
    .content h1, .content2 h1, .content7 h1 {
        font-size: 25px;
        line-height: 30px;
    }
    .content p {
        padding-top: 10px;
        font-size: 12px;
    }

    .section8 h2 {
        padding-top: 70px;
        padding-bottom: 30px;
        font-size: 22px;
    }
    .section8 h1 {
        font-size: 30px;
    }
    
    .up {
        margin-left: 90%;
    }

    .pad {
        padding-top: 30px;
    }
    .dummy2, .dummy3 {
        height: 80vh;
    }
    .fd33 {
        visibility: hidden;
    }
    .fd12 {
        height: 200px;
    }
}

@media (max-width: 500px) {
    body {
        overflow-x: hidden;
    }
    .navigation {
        width: 96%;
        margin: auto 2%;
        padding: 40px 10px;
    }
    .navigation .brand {
        font-size: 22px;
        line-height: 35px;
    }
    .navigation .links .link {
        height: 35px;
        width: 115px;
        font-size: 12px;
    }
    .links .link1 {
        margin-right: 10px;
    }
    .links .link1::before {
       height: 33px;
       border-radius: 0;
    }
    .fd12 {
        height:150px;
    }
    .section1 {
        display: block;
        width: 80%;
    }
    .section1 .part1 {
        width: 80%;
        padding-right: 0;
        position: relative;
    }
    .pic1 {
        margin-top: 20px;
    }
    .part1 h1 {
        font-size: 4vw;
    }
    .part1 p {
        padding-top: 20px;
    }
    .section1 .part2 {
        width: 80%;
        margin: 0 auto;
    }
    .section1 .part2 img {
        border-radius: 3px;
    }
    .dummy {
        height: 0;
    }
    
    
    
    .section2 {
        width: 80%;
    }
    #section2 {
        flex-flow: column-reverse;
        height: auto;
    }
    .section2.sec1 {
        width: 100%;
        padding-top: 0px;
        position: relative;
    }
    .section2.sec2 {
        position: relative;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .double-img {
        width: 100%;
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: end;
    }
    .section2 h2 {
        width: 80%;
        font-size: 4vw;
        line-height: 121%;
        margin-top: 100px;
        margin-bottom: 30px;
    }
    .image1 {
        width: 35vw;
        transform: translateY(0px);
        margin: 0;
    }
    .image2 {
        width: 35vw;
        margin: 0;
        transform: translateY(0px);
    }
    .image-box {
        width: 80vw;
        top: 70px;
    }
    .dummy2 {
        height: 0;
    }

    .c-sm-90 {
        width: 90%;
    }
    
    .fd33 {
        height: 200px;
    }
    .dummy3 {
        height: 0;
    }
    #section3 {
        width: 100%;
        display: block;
    }
    .section3.sec1 {
        position: relative;
        width: 100%;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }
    .section3.sec2 {
        width: 100%;
        padding-top: 0;
        position: relative;
    }
    .double-img2 {
        width: 100%;
        position: relative !important;
        left: 0%;
        transform: translateX(0);
        margin-bottom: 0;
        display: flex;
        justify-content: space-evenly;
    }
    .section3 h2 {
        width: 80%;
        transform: translateY(-180px);
        font-size: 4vw;
    }
    .image11 {
        width: 40vw;
        transform: translateY(-70px);
    }
    .image12 {
        width: 45vw;
        margin: 0;
        transform: translateY(-130px);
    }
    .image-box2 {
        width: 80vw;
        position: absolute;
        left: 20vw;
        top: 0;
    }
    
    
    
    .section4 {
        width: 100%;
        aspect-ratio: 1.93;
        border-radius: 8px;
    }
    
    
    #section5 {
        width: 100%;
        flex-flow: column;
    }
    .section5 {
        width: 100%;
        position: relative;
        color: white;
    }
    .section5.sec1 {
        position: relative;
    }
    .sec5pic {
        border-radius: 8px;
    }
    .content {
        width: 80%;
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .content h1 {
        font-size: 4vw;
    }
    .content p {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .sec2sec {
        position: relative;
        width: 90%;
        margin: 40px auto;
    }
    


    .content2 {
        width: 80%;
        margin: 0px auto;
        color: white;
    }
    .content2 h1 {
        font-size: 4vw;
        line-height: 121%;
    }
    .content2 p {
        padding-top: 10px;
        font-size: 2vw;
    }
    .content2 button {
        z-index: 90;
    }
    
    
    .section6 {
        aspect-ratio: 2.02;
        background: #141414;
        border-radius: 12px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
    .sec61, .sec62 {
        width: 50%;
    }
    .sec61 {
        display: flex;
        padding-left: 0;
    }
    .sec62 {
        position: relative;
        margin: 0 auto;
        top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .dummy6 {
        height: 150vh;
        width: 20px;
        border: 1px solid red;
    }
    .ss {
        width: 22vw;
        border-radius: 6px;
        border: 2px solid white;
    }
    .ss1 {
        left: 8%;
        top: -11%;
    }
    .ss2 {
        left: 30%;
        top: 3%;
    }
    
    

    .kotu {
        height: 0;
    }
    
    #section7 {
        flex-wrap: wrap;
    }
    
    .section7.sec1{
        width: 100%;
        position: relative;
        height: auto;
        display: flex;
    }
    .section7.sec2 {
        width: 100%;
        padding-top: 0;
        position: relative;
    }
    .dummy7 {
        height: 0;
    }
    .content7 {
        width: 80%;
        margin: 0 auto;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .content7 h1 {
        font-size: 4vw;
    }
    .content7 p {
        padding-top: 20px;
        font-size: 2vw;
        padding-bottom: 20px;
    }
    .double-img7 {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        position: relative !important;
    }
    .image-box7 {
        right: 0;
        width: 80vw;
        z-index: -1;
        bottom: 0;
    }
    .image71 {
        width: 40vw;
        height: 50vw;
        transform: translateY(0);
        margin-top: 0;
    }
    .image72 {
        width: 40vw;
        aspect-ratio: 0.445;
        margin-right: 0;
        transform: translateY(0);
    }
    

    .section8 h2 {
        font-size: 4vw;
    }
    .section8 h1 {
        font-size: 5vw;
    }
    .up {
        margin-left: 85%;
        bottom: 30px;
        z-index: 99;
    }
    .fd34 {
        height: 0;
    }
    
    .fd45 {
        height:150px;
    }
    .full-h {
        min-height: 0;
    }
    #section6 {
        width: 90%;
    }
    .fd2t3 {
        height: 600px;
    }
}