.navigation {
    padding: 7px 10%;
}
.navigation .brand {
    font-size: 30px !important;
}
.fd12 {
    height:100px;
}
.blog1 {
    width: 57%;
    margin-left: 10%;
    color: #fff;
}
.blog1 h1 {
    width: 80%;
    color: #fff;
    font-size: 2.8vw;
    line-height: 123%;
    font-weight: 500;
}
.blog1 .date {
    font-size: 16px;
    line-height: 167%;
    color: #FFFFFF;
    opacity: 0.62;
}
.blog-image {
    width: 100%;
    aspect-ratio: 2.124;
    background: url('../pic/pic1.png');
    background-size: cover;
    background-position: 100% 50%;
    border-radius: 5px;
}
.blog-text {
    font-size: 15px;
    margin: 30px auto;
    line-height: 182%;
    color: #FFFFFF;
    opacity: 0.64;
}