.navigation {
    padding: 7px 10%;
}
.navigation .brand {
    font-size: 30px !important;
}
.fd12 {
    height:100px;
}
.blog1 {
    width: 57%;
    margin-left: 10%;
    color: #fff;
}
.blog1 h1 {
    width: 80%;
    color: #fff;
    font-size: 2.8vw;
    line-height: 123%;
    font-weight: 500;
}
.blog1 .date {
    font-size: 16px;
    line-height: 167%;
    color: #FFFFFF;
    opacity: 0.62;
    margin: 5px 0 20px 0;
}
.blog-image {
    width: 100%;
    aspect-ratio: 2.124;
    background: url('../pic/pic1.png');
    background-size: cover;
    background-position: 100% 50%;
    border-radius: 5px;
}
.blog-text {
    font-size: 15px;
    margin: 30px auto;
    line-height: 182%;
    color: #FFFFFF;
    opacity: 0.64;
}
.footer {
    color: white;
    text-align: center;
    width:100%;
    height: 450px;
    background: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer div {
    width: 50%;
}
.footer h2, .footer h3 {
    padding: 17px;
    font-weight: normal;
}
.footer p {
    padding: 5px;
    font-size: 16px;
    line-height: 182%;
    opacity: 0.62;
}
.footer div p a {
    text-decoration: none;
    color: white;
}
.footer div:nth-child(1){
    margin-bottom: 30px;
}